@import 'utils/variables';
@import 'components/type';

@font-face {
    font-family: figtree;
    src: url(../assets/fonts/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: SuperDream;
    src: url(../assets/fonts/Super\ Dream.ttf);
}

body {
    color : $color1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: figtree;
    font-size: $font-0;
}

.title{
    font-family: SuperDream;
    color: #82a33e;
    font-size: $font-2;
}

.subtitle{
    font-family: SuperDream;
    font-size: $font-1;
}

.textIntro {
    color: $color1;
    font-weight: bold;
    max-width: 75%;
}

.navigation{
    position: relative;
    z-index: 1;
    padding: $space-2xs-xs $space-xs-s;
    background-color: $color3;
    &__logo{
        width: $space-l-2xl;
    }
}

.intro {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
        width: fit-content;
        height: fit-content;

        margin-top: 86px;
        margin-bottom: 86px;
    }
}

.ticket, .ticketingrédient{
    position: absolute;
    right: 31px;
    bottom: 15%;
    background-color: white;
    height: 60vh;
    transform: rotate(-5deg);
    padding: $space-xs-s;
    box-shadow: -16px 16px 0px rgba(83, 35, 20, 0.2);
    &__textexplicatif{
        padding-bottom: $space-xs-s;
        border-bottom: solid $color1;
    }
    &__line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

.ticketingrédient{
    transform: rotate(5deg);
    z-index: -1;
}

.timeline{
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #ffdca3;
    height: 100vh;
    width: fit-content;
    padding: $space-s-xl;
    &__année{
        font-size: $font-2;
        position: absolute;
        
        &--notselected{
            opacity: 50%;
        }
    }
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;
}

@media (max-width: 1600px) {
    .timeline{
        flex-flow: row wrap;
        height: 10%;
        width: 100vw;

        &__titrexplicatif {
            display: none;
        }

        &__année{
            position: absolute;
        }
    }
}