@import 'utils/variables';
@import 'components/type';

@font-face {
    font-family: figtree;
    src: url(../assets/fonts/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: SuperDream;
    src: url(../assets/fonts/Super\ Dream.ttf);
}

body {
    color : $color1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;
    font-family: figtree;
    font-size: $font-0;
    background-color: #ffe8c4;
}

.hidden {
    display: none;
}

.accueil {
    width: 100vw;
    height: fit-content;
    font-family: SuperDream;
    background-color: $c-bg-accueil;
    position: absolute;
    z-index: 98;

    .accueil__title {
        margin: 0;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        font-size: $font-3;
    }

    .accueil__subtitle {
        margin: 0;
        display: flex;
        justify-content: center;
        font-size: $font-2;
    }

    .accueil__texte {
        padding: 2.5em 2.5em 5em 2.5em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;

        p {
            margin: 24px;
            font-family: figtree;
            max-width: 60ch;
            padding-right: 2.5em;
        }
    }

    .accueil__divbtn {
        height: fit-content;
        display: flex;
        justify-content: center;

        button {
            width: 572px;
            height: 90px;
            border: none;
            border-radius: 40px;
            background-color: #82a33e;
            cursor: pointer;
            color: $c-font-btn;
            font-family: SuperDream;
            font-size: $font-0;

            &:hover, &:focus {
                background-color: $color3;
                transition: all 0.3s ease-in-out;
            }

            &:active {
                background-color: $color3;
                color: $color1;
            }
        }
    }

    .accueil__graph {
        padding-top: 80px;
        .accueil__txtgraph {
            margin: 0;
            padding-left: 80px;
            display: flex;
            justify-content: center;
            font-size: $font-2;
        }

        .accueil__imggraph {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            img {
                width: $graph-size;
                height: auto;
            }
        }
    }

    @media (max-width: 1190px) {
        .accueil__title {
            font-size: 45.23px;
        }

        .accueil__subtitle {
            padding-left: 40px;
            font-size: 31.99px;
        }

        .accueil__texte {
            padding: 1.25em 2.5em;
            flex-direction: column;
            font-size: 16px;
            img {
                width: $img-size;
            }
        }

        .accueil__divbtn {
            button {
                width: $button-size;
                height: 40px;
            }
        }

        .accueil__graph {
            .accueil__txtgraph {
                padding-left: 40px;
                font-size: 31.99px;
            }
            .accueil__imggraph {
                padding: 1.25em 2.5em;
                grid-template-columns: 1fr;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: $button-size;
                    height: auto;
                }
            }
        }
    }
}

h2 {
    margin: 1% 0 4% 0;
}

.title{
    font-family: SuperDream;
    color: #82a33e;
    font-size: $font-4;
}

.subtitle{
    font-family: SuperDream;
    font-size: $font-2;
}

.textIntro {
    color: $color1;
    font-weight: bold;
    /* margin: 0; */
    max-width: 75%;
}

.navigation{
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
    z-index: 99;
    padding: $space-2xs-xs $space-xs-s;
    background-color: $color3;
    &__logo{
        width: $space-l-2xl;
    }
}

.intro {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}
.textIntro {
    margin: 1%;
}

.ticket, .ticketingrédient{
    position: absolute;
    right: 31px;
    bottom: 9vh;
    background-color: white;
    height: fit-content;
    transform: rotate(-5deg);
    padding: $space-xs-s;
    box-shadow: -16px 16px 0px rgba(83, 35, 20, 0.2);
    &__textexplicatif{
        padding-bottom: $space-xs-s;
        width: 80%;
        margin-bottom: 0;
    }
    &__line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__line p {
        margin: $space-2xs-xs;
    }

    &__listeprix {
        border-top: solid $color1;
        margin-top: 0;
    }

    &__burgersDiv {
        display: grid;
        grid-template-columns: max-content repeat(2, 1fr);
        width: 100%;
        height: fit-content;
    }

    &__initialburger, &__placeholderburger {
        height: 200px;

        & img {
            height: 100%;
        }
    }

    &__equal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__equalLetter {
        font-size: $font-5;
        margin: 0;
    }

    &__compareDate {
        align-self: end;
    }

    &__miniburgers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.burger__compare {
    align-self: end;
}

.ticketingrédient{
    transform: rotate(5deg);
    z-index: -1;
    
}

.timeline{
    position: fixed;
    top: 0;
    left: 0;             /* si tu veux la mettre à droite, par exemple */
    width: 15vw;
    height: 100vh;        /* toute la hauteur de la fenêtre */
    overflow-y: auto;     /* active la scrollbar verticale */
    overflow-x: hidden;   /* évite le scroll horizontal */
    background-color: #ffdca3;
    /* supprime le flex-wrap si tu souhaites un simple flux vertical */
    display: flex;
    flex-direction: column;
    padding: 0;
    &__titrexplicatif {
        text-align: center;
        margin-top: 60px;
        /* margin-bottom: auto; */
    }
    &__btns{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    &__année{
        font-size: $font-4;
        //position: absolute;
        color: $color1;
         height: fit-content;
         padding: 15px;
         box-sizing: border-box;
 
         border: none;
         background: #ffdca3;
 
         cursor: pointer;
 
         &:hover, &:focus {
             background-color: #82a33e;
 
             transition: all .1s ease-out;
         }
      

    }  
        &__switch{
            position: fixed;
            top: 7%;
            left: 15vw;
            font-family: SuperDream;
            font-size: $font-0;
            background-color: #82a33e;
            border: none;
            height: fit-content;
            padding: $space-2xs-xs;
            width: fit-content;
            border-radius: 15px;
            align-self: center;
            margin: 22px;
            &:hover{
                cursor: pointer;
                background-color: $color3;
                color: #fff8c4;
                transition: 0.2s;
            }
        }
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;
}



@media (max-width: 1921px) {
    body {
        font-size: $font-0;
    }
    .title{
        font-size: $font-3;
    }
    .subtitle{
        font-size: $font-1;
    }
    .timeline{
        &__année{
            font-size: $font-3;
        }
        &__switch{
            left: 15vw;
        }
    }
    .ticket, .ticketingrédient{
        &__initialburger, &__placeholderburger {
            height: 100px;
        }
    }
}
@media (max-width: 1250px) {
    body {
        font-size: $font--1;
    }
    .title{
        font-size: $font-2;
    }
    .subtitle{
        font-size: $font-0;
    }
    .timeline{
        width: 20vw;
        &__année{
            font-size: $font-2;
        }
        &__switch{
            left: 20vw;
        }
    } 
    .ticket, .ticketingrédient{
        bottom: 2.5vh;
    }
}
@media (max-width: 800px) {
    body {
        font-size: $font--2;
    }
    .title{
        font-size: $font-2;
    }
    .subtitle{
        font-size: $font-0;
    }
    .timeline{
        &__année{
            font-size: $font-2;
        }
    } 
}

@media (max-width: 700px) {
    .timeline{
        top: clamp(2.5625rem, 1.6712rem + 4.4565vw, 5.125rem);
        margin: 0;
        justify-content: space-evenly;
        flex-flow: row wrap;
        height: 10%;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: auto;

        &__switch{
            position: fixed;
            align-self: end;
            top: auto;
            margin: 0;
            left: auto;
            /* margin-bottom: 10px; */
        }
        &__titrexplicatif {
            display: none;
        }
        &__btns {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

        }
    }
    .textIntro {
        margin: auto;
    }
    .intro{
        margin-top: 10vh;
    }
    .ticket__titrexplicatif{
        margin: 5px 0 5px 0;
    }
}

@media (max-height: 750px) {
    .ticket, .ticketingrédient{
        &__initialburger, &__placeholderburger {
            height: 90px;
        }
    }
    body {
        font-size: 9px;
    }
    .ticket__titrexplicatif{
        margin: 0;
    }
}
@media (max-height: 500px) {
    .timeline{
        &__switch{
            top: 16%;
        }
    }
}