@import 'utils/variables';
@import 'components/type';

@font-face {
    font-family: figtree;
    src: url(../assets/fonts/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: SuperDream;
    src: url(../assets/fonts/Super\ Dream.ttf);
}

body {
    color : $color1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    font-family: figtree;
    font-size: $font-0;
    background-color: #ffe8c4;
}

.title{
    font-family: SuperDream;
    color: #82a33e;
    font-size: $font-3;
}

.subtitle{
    font-family: SuperDream;
    font-size: $font-1;
}

.textIntro {
    color: $color1;
    font-weight: bold;
    max-width: 75%;
}

.navigation{
    position: relative;
    z-index: 1;
    padding: $space-2xs-xs $space-xs-s;
    background-color: $color3;
    &__logo{
        width: $space-l-2xl;
    }
}

.intro {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
        width: fit-content;
        height: fit-content;

        margin-top: 86px;
        margin-bottom: 86px;
    }
}

.ticket, .ticketingrédient{
    position: absolute;
    right: 31px;
    bottom: 9vh;
    background-color: white;
    height: fit-content;
    transform: rotate(-5deg);
    padding: $space-xs-s;
    box-shadow: -16px 16px 0px rgba(83, 35, 20, 0.2);
    &__textexplicatif{
        padding-bottom: $space-xs-s;
        width: 80%;
        margin-bottom: 0;
    }
    &__line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__line p {
        margin: $space-2xs-xs;
    }

    &__listeprix {
        border-top: solid $color1;
        margin-top: 0;
    }
}

.ticketingrédient{
    transform: rotate(5deg);
    z-index: -1;
}

.timeline{
    position: fixed;
    top: 0;
    left: 0;             /* si tu veux la mettre à droite, par exemple */
    width: 15vw;
    height: 100vh;        /* toute la hauteur de la fenêtre */
    overflow-y: auto;     /* active la scrollbar verticale */
    overflow-x: hidden;   /* évite le scroll horizontal */
    background-color: #ffdca3;
    /* supprime le flex-wrap si tu souhaites un simple flux vertical */
    display: flex;
    flex-direction: column;
    padding: 0;
    &__titrexplicatif {
        text-align: center;
        margin-top: 60px;
    }
    &__btns{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    /* &__switch{
        position: fixed;
        z-index: 999;
    } */
    &__année{
        font-size: $font-3;
        //position: absolute;

         height: fit-content;
         padding: 15px;
         box-sizing: border-box;
 
         border: none;
         background: #ffdca3;
 
         cursor: pointer;
 
         &:hover, &:focus {
             background-color: #82a33e;
 
             transition: all .1s ease-out;
         }
        
        &--notselected{
            opacity: 50%;
        }
    }
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;
}

@media (min-width: 2200px) {
    body {
        font-size: $font-1;
    }
    .title{
        font-size: $font-4;
    }
    .subtitle{
        font-size: $font-2;
    }
    .timeline{
        &__année{
            font-size: $font-4;
        }
    } 
}
@media (min-width: 1921px) {
    body {
        font-size: $font-0;
    }
    .title{
        font-size: $font-3;
    }
    .subtitle{
        font-size: $font-1;
    }
    .timeline{
        &__année{
            font-size: $font-3;
        }
    } 
}
@media (max-width: 1250px) {
    body {
        font-size: $font--1;
    }
    .title{
        font-size: $font-2;
    }
    .subtitle{
        font-size: $font-0;
    }
    .timeline{
        width: 20vw;
        &__année{
            font-size: $font-2;
        }
    } 
}
@media (max-width: 1250px) {
    body {
        font-size: $font--1;
    }
    .title{
        font-size: $font-2;
    }
    .subtitle{
        font-size: $font-0;
    }
    .timeline{
        &__année{
            font-size: $font-2;
        }
    } 
}
@media (max-width: 800px) {
    body {
        font-size: $font--2;
    }
    .title{
        font-size: $font-2;
    }
    .subtitle{
        font-size: $font-0;
    }
    .timeline{
        &__année{
            font-size: $font-2;
        }
    } 
}

@media (max-width: 700px) {
    .timeline{
        top: auto;
        bottom: 0;
        margin: 0;
        justify-content: space-evenly;
        flex-flow: row wrap;
        height: 10%;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: auto;

        &__switch{
            position: fixed;
        }
        &__titrexplicatif {
            display: none;
        }
        &__btns {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

        }
    }
}