$c-bg: #efefef;
$c-alt: #e41612;
$c-text: #444;

$size-text: 18px;
$size-text-phone: 13px;

$space-l-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
$space-s-xl: clamp(1.125rem, 0.212rem + 4.5652vw, 3.75rem);
$space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
$space-2xs-xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
$space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);

$color1 : #532314;
$color2 : #F8F1E8;

$color3: #27742D;

/*
$level0 : 16px;
$level1 : 22px;
$level2 : 31px;
$level3 : 44px;
$level4 : 62px;
*/

$font--2: clamp(0.5002rem, 0.4132rem + 0.4349vw, 0.7502rem);
$font--1: clamp(0.7072rem, 0.5842rem + 0.615vw, 1.0608rem);
$font-0: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
$font-1: clamp(1.414rem, 1.1681rem + 1.2296vw, 2.121rem);
$font-2: clamp(1.9994rem, 1.6517rem + 1.7386vw, 2.9991rem);
$font-3: clamp(2.8271rem, 2.3355rem + 2.4584vw, 4.2407rem);
$font-4: clamp(3.9976rem, 3.3024rem + 3.4762vw, 5.9964rem);
$font-5: clamp(5.6526rem, 4.6695rem + 4.9153vw, 8.4789rem);