$c-bg: #efefef;
$c-alt: #e41612;
$c-text: #444;

$c-bg-accueil: #ffdca3;
$c-font-btn: #FFD44D;
$button-size: clamp(17.875rem, 11.6576rem + 31.087vw, 35.75rem);
$graph-size: clamp(35.75rem, 9.7647rem + 33.5294vw, 50rem);
$img-size: clamp(11.125rem, 4.1365rem + 34.9425vw, 30.125rem);

$size-text: 18px;


$space-l-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
$space-s-xl: clamp(1.125rem, 0.212rem + 4.5652vw, 3.75rem);
$space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
$space-2xs-xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
$space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);

$color1 : #532314;
$color2 : #F8F1E8;

$color3: #27742D;

/*
$level0 : 16px;
$level1 : 22px;
$level2 : 31px;
$level3 : 44px;
$level4 : 62px;
*/



$font--2: clamp(0.6689rem, 0.6424rem + 0.1413vw, 0.9815rem);
$font--1: clamp(0.863rem, 0.8256rem + 0.1998vw, 1.305rem);
$font-0: clamp(0.9375rem, 0.8845rem + 0.2825vw, 1.5625rem);
$font-1: clamp(1.3256rem, 1.2507rem + 0.3994vw, 2.2094rem);
$font-2: clamp(1.8744rem, 1.7685rem + 0.5648vw, 3.1241rem);
$font-3: clamp(2.6504rem, 2.5007rem + 0.7986vw, 4.4174rem);
$font-4: clamp(3.7477rem, 3.536rem + 1.1293vw, 6.2462rem);
$font-5: clamp(5.2993rem, 4.9999rem + 1.5968vw, 8.8322rem);
$font-6: clamp(7.4932rem, 7.0699rem + 2.2578vw, 12.4887rem);