$c-bg: #efefef;
$c-alt: #e41612;
$c-text: #444;

$size-text: 18px;

$space-l-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
$space-s-xl: clamp(1.125rem, 0.212rem + 4.5652vw, 3.75rem);
$space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
$space-2xs-xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
$space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);

$color1 : #532314;
$color2 : #F8F1E8;

$color3: #27742D;

$level0 : 16px;
$level1 : 22px;
$level2 : 31px;
$level3 : 44px;
$level4 : 62px;
